<div class="animate__animated animate__fadeIn animate__faster">
  <h2>By Country</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-country-input
        (onEnter)="search($event)"
        (onDebaunce)="suggest($event)"
        placeholder="Search by country"
      ></app-country-input>
    </div>
  </div>
  <div class="list-group" *ngIf="showSuggest">
    <a
      class="list-group-item list-group-item-dark nav-link"
      *ngFor="let country of suggestedCountries"
      [routerLink]="['/country', country.cca2]"
    >
      {{ country.name.common }}
    </a>
    <a
      class="list-group-item list-group-item-dark nav-link"
      (click)="search(term)"
    >
      Search "{{ term }}"
    </a>
  </div>
</div>
<hr />
<div class="alert alert-danger" *ngIf="isAnError">
  <strong>Error!</strong> No country found with the term: '<strong>{{
    term
  }}</strong
  >'
</div>

<app-loader
  loader="assets/svg/puff.svg"
  [show]="showLoader"
  customWidth="30"
></app-loader>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
