<div class="d-flex">
  <div class="sidebar-dark container py-4 ps-4 pe-0">
    <h2 class="pe-3">Searchs</h2>
    <hr class="me-3"/>
    <ul class="list-group">
      <li class="list-group-item menu-item-dark active-item">
        Search country
      </li>
      <li class="list-group-item menu-item-dark">
        By region
      </li>
      <li class="list-group-item menu-item-dark">
        By capital
      </li>
    </ul>
  </div>
  <div class="container mt-4">
    <h2>By Capital</h2>
    <hr />
    <app-by-capital></app-by-capital>
  </div>
</div>
