/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: rgb(51, 49, 49);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.sidebar-dark {
  background-color: rgb(31, 31, 31);
  width: 22%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  transition: all 0.2s ease;
}

@media screen and (max-width: 992px) {
  .sidebar-dark {
    width: 35%;
  }
}

@media screen and (max-width: 728px) {
  .mh-100vh {
    min-height: 200vh;
  }

  .sidebar-dark {
    visibility: hidden;
    position: fixed;
    width: 0%;
    .menu-item-dark {
      display: none;
    }
    &.active {
      visibility: visible;
      width: 80%;
      transform: translateX(0);
      .menu-item-dark {
        display: block;
      }
    }
  }

  .main-content {
    margin-top: 3rem;
  }
}
